<%= flash[:notice] %>
<h1>Hello there you are in the bookmarks page</h1>

<form action="/bookmarks" method="post">
  <input type="text" placeholder="enter Title" name="title" />
  <input type="text" placeholder="enter URL" name="url" />
  <input type="submit" value="Submit" />
</form>

<ul><%@bookmarks.each do |bookmarks|%>
    <div class="bookmark" id="bookmark-<%=bookmarks.id%>" >
      <table>
      <form action="/bookmarks/<%=bookmarks.id%>" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete"/>
      </form>
      <form action="/bookmarks/<%=bookmarks.id%>/edit" method="get">
        <input type="submit" value="Edit"/>
      </form>
      <form action="/bookmarks/<%=bookmarks.id%>/comments" method="get">
        <input type="hidden" name="title" value="<%=bookmarks.title%>"/>
        <input type="submit" value="Comments"/>
      </form>
        <a href="<%=bookmarks.url%>"><%=bookmarks.title%> </a>
      </table>

    </div>
  <%end%>
</ul>
